body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    background-color: pink;
}
h1 {
    font-size: 50px;
    font-family: Courier New, monospace;
    font-weight: 100;
    color: #BF6780;
}


